@use 'base/mixins' as m;
@use 'base/variables' as v;

@media (prefers-color-scheme: dark){
    $grisOscuro: #2c2c3b;
    body {
        background-color: $grisOscuro;
    }
    .tagline, .formulario label, .login .acciones a, .crear .acciones a, .olvide .acciones a {
        color: v.$blanco;
    }
    .descripcion-pagina, .formulario .campo input, .nombre-pagina{
        color: darken(v.$grisClaro, 15%);
    }
    .formulario .campo input {
        background-color: lighten($grisOscuro, 15%);
        &::placeholder {
            color: darken(v.$grisClaro, 30%);
        }
    }
    .alerta.error {
        background-color: v.$blanco;
    }
    .sidebar {
        @include m.tablet {
            background-color: darken($grisOscuro, 5%);
        }
        .sidebar-nav a {
            &.activo, &:hover {
                background-color: v.$naranja;
            }
        }
    }
    
    .barra-mobile, .barra {
        background-color: darken($grisOscuro, 7%);
    }
    .barra {
        p {
            color: v.$naranja;
            span {
                color: v.$grisClaro;
            }
        }
        .cerrar-sesion {
            @include m.boton(v.$naranja, v.$blanco);
            padding: 1rem;
            font-size: 1.2rem;
        }
    }
    .filtros {
        background-color: lighten($grisOscuro, 10%);
        h2, label {
            color: v.$blanco;
        }
        input[type="radio"] {
            accent-color: v.$naranja;
        }
    }
    .dashboard {
        background-color: $grisOscuro;
        .enlace {
            color: v.$grisClaro;
            font-weight: bold;
            &:hover {
                color: darken(v.$grisClaro, 20%);                
            }
        }
        .formulario input:not([type=submit]) {
            background-color: lighten($grisOscuro, 20%);
            color: v.$blanco;
            &::placeholder {
                color: darken(v.$grisClaro, 30%);
            }
        }
        .formulario input[type=submit] {
            background-color: lighten($grisOscuro, 20%);
            color: v.$blanco;
            &::placeholder {
                color: darken(v.$grisClaro, 30%);
            }
        }
    }
    .listado-proyectos .proyecto {
        background-color: lighten($grisOscuro, 20%);
        &:hover {
            background-color: lighten($grisOscuro, 15%);
        }
    }
    .listado-tareas .tarea {
        background-color: lighten($grisOscuro, 10%);
        border: none;
        p {
            color: v.$grisClaro;
        }
    }
    .modal .formulario {
        background-color: lighten($grisOscuro, 10%);
        input[type="text"] {
            background-color: lighten($grisOscuro, 20%);
            border: none;
            color: v.$blanco;
            &::placeholder {
                color: darken(v.$grisClaro, 20%);
            }
        }
        legend {
            color: v.$grisClaro;
        }
    }
    .estandar {
        background-color: lighten($grisOscuro, 10%);
        p{
           color: darken(v.$grisClaro, 5%);
        }
    }
    .puntaje{
        p, .puntaje-texto{
            color: v.$grisClaro;
        }
    }
    .textoConsulta {
        input[type="text"]{
            border: 1px solid black;
        }
        textarea{
            background-color: lighten($grisOscuro, 20%);
            border: 1px solid black;            
        }
        textarea::placeholder{
            color: v.$grisClaro;
        }
    }
    .donaciones {
        p{
            color: darken(v.$grisClaro, 10%);
        }
    }
    .listado-items{
        li{
            background-color: lighten($grisOscuro, 10%);
            p{
                color: darken(v.$grisClaro, 20%);
            }
        }
    }
    .membresia {
        p{
            color: darken(v.$grisClaro, 20%);
        }
    }
    .listado-pregunta{
        a{
            color: darken(v.$grisClaro, 10%);
            font-weight: bold;
        }
    }
    .pregunta-usuario {
        p, h3{
            color: darken(v.$grisClaro, 20%);
        }
    }
    .contenedor-preguntas{
        p{
            color: darken(v.$grisClaro, 20%);
        }
    }
    .pregunta {
        p{
            color: darken(v.$grisClaro, 20%);
        }
        .opciones{
            button{
                background-color: v.$grisClaro;
            }
            .completa{
                background-color: v.$grisOscuro;
            }
            .pendiente{
                background-color: darken(v.$naranja, 15%);
            }
            .responder-pregunta{
                background-color: darken(v.$cyan, 20%);
            }            
        }
        textarea{
            background-color: lighten($grisOscuro, 10%);
            color: darken(v.$grisClaro, 20%);
            border: 1px solid black;
        }
        button{
            background-color: lighten($grisOscuro, 20%);
            border: none;
            color: darken(v.$grisClaro, 5%);
            border: 1px solid black;
            font-weight: b;
        }
    }
    .eslogan {
        color: darken(v.$grisClaro, 20%);
    }
    .listado-recomendaciones{
        p{
            color: darken(v.$grisClaro, 20%);
        }
    }
}
