@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard {
    background-color: v.$grisClaro;
    @include m.tablet {
        display: flex;
        height: 100vh;
    }
    .principal {
        flex: 1;
        overflow: scroll;
    }
    .contenido {
        padding: 2rem;
        
        .nombre-pagina {
            font-size: 2.8rem;
            text-align: center;
        }
    }
    .formulario {
        .comprobar,input[type="submit"] {
            @include m.boton(lighten(v.$indigo, 8%), v.$blanco);
            padding: 1.5rem 0.5rem;
            margin-top: 2rem;
            width: 50%;
            @include m.tablet {
                padding: 1.5rem 4rem;
            }
            
        }
        input:not([type="submit"]) {
        }
         
    }
    .enlace {
        color: v.$indigo;
        &:hover {
            color: darken(v.$indigo, 20%);
        }
    }
}