@use 'base/mixins' as m;
@use 'base/variables' as v;

.estandar {  
    list-style: none;
    text-align: center; 
    background-color: lighten(v.$grisOscuro, 50%);
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;   
}
.preguntas {  
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    @include m.tablet {
        display:flex; 
        flex-direction: row;
        input[type="radio"] {
            height: 1.4rem;
            width: 1.4rem;
        }
    }
    input[type="radio"] {
        height: 1.7rem;
        width: 1.7rem;
        vertical-align: middle;
    }  
    .pregunta {   
        display: flex;         
        margin-bottom: 1.5rem;    
        justify-content: space-between;
        border: none;
        margin: 1rem 5rem;
        @include m.tablet {
            display: flex;
            vertical-align: middle;
            justify-content: center;
            align-items: center;
            margin: 0;
            label {
                margin-right: 0.5rem;
            }
        }
    }        
}
p {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    color: v.$negro;
    @include m.tablet {
        justify-content: center;
    }
} 
.puntaje {
    .puntaje-texto {
        color: v.$negro;
    }
    p {
        display: flex;
        justify-content: left;
    }
}
.botones {
    display: flex;
    justify-content: space-around;
    a {
        @include m.tablet {
            font-size: inherit;
        }
        padding-top: 2rem;
        margin: 1rem 2.9rem;
        font-size: 2rem; 
        
    }
}
.listado-items {
    padding-left: 0;
}
.no-proyectos {
    a {
        color: v.$indigo;
    }
}
.listado-proyectos {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    @include m.grid(1, 2rem);
    @include m.tablet {
        @include m.grid(2, 2rem);
    }
    @include m.desktop {
        @include m.grid(3, 2rem);
    }

    .proyecto {
        background-color: lighten(v.$indigo,5%);
        min-height: 12rem;
        display: flex;
        align-items: center;
        padding: 2rem;
        line-height: 2;
        border-radius: .5rem;

        &:hover {
            background-color: darken(v.$indigo, 5%);
        }

        a{
            color: v.$blanco;
        }
    }
}